* {
  padding-bottom: 7px;
  overflow-x: hidden;
}
.xyz {
  background-color: #cccccc;
  color: #46a346;
}

.hd {
  text-align: center;
  margin-right: 10%;
  color: #5cb85c;
}

.formdiv {
  border-left: 5px solid #5cb85c;
  box-shadow: 5px 10px 18px #bdbdbd;
  padding: 20px;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}
button {
  width: 100%;
  margin: 3%;
}
